:host {
    .form {
        display: grid;
        grid-template-columns: 1.5rem 15rem auto 2rem 1.5rem;
        align-items: center;
        gap: .35rem;

        tui-icon {
            cursor: grab;
        }

        .check-label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font: var(--t-label-font);
            color: var(--tui-text-secondary);
        }
    }
}