@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
    form {
        display: grid;
        grid-template-columns: 1.5rem 15rem auto auto 1.5rem;
        align-items: center;
        column-gap: .8rem;
        justify-content: center;

        tui-icon {
            cursor: grab;
        }

        .check-label {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font: var(--t-label-font);
            color: var(--tui-text-secondary);
        }

        @media @tui-mobile {
            grid-template-columns: 1.5rem minmax(5rem, auto) 1fr auto 1.5rem;
            column-gap: .35rem;
            
            input[type="checkbox"] {
                margin-inline-end: 0;
            }
        }
    }
}