@import '@taiga-ui/core/styles/taiga-ui-local.less';

.calendar-table {
  margin: 1rem auto;
  max-width: 1200px;

  @media @tui-desktop-interval {
    max-width: 1000px;
  }

  @media @tui-mobile {
    max-width: 90%;
  }

  thead, tbody {
    display: block;
    overflow-y: scroll;
  }

  thead {
    scrollbar-color: transparent transparent;

    &::-webkit-scrollbar {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: transparent;
    }
  }

  tbody {
    max-height: calc(100vh - 260px);
  }

  tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  th>div {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    max-width: 100%;
    overflow: hidden;

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  th,
  td {
    padding: .15rem .3rem;
  }

  td {
    text-align: center;

    app-calendar-cell {
      cursor: pointer;
    }
  }
}

.loading-indicator,
.no-tasks-message {
  text-align: center;
  margin: 2rem 0;
}