@import '@taiga-ui/core/styles/taiga-ui-local.less';

ul {
    padding: 1rem 0;
    list-style: none;  
    max-width: 800px;
    margin: auto;
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .2rem 1rem;
        border: 1px solid var(--tui-text-tertiary);
        border-radius: .25rem;
    }

    @media @tui-mobile {
        width: 80%;
    }
}