// Migrated from login.scss
:host {
    form {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        gap: 1rem;
        width: 300px;
        margin: 2rem auto;
        tui-text-field {
            width: 100%;
        }
    }
}